<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/style.css" />
<%- include('../partials/nav') %>

<p>From the iPod of <%= album.owner.name %></p>

<h1>"<%= album.title %>"</h1>
<section id="album-details">
    <div>Artist: </div>
    <div><%= album.artist %></div>
    <div>Release Year: </div>
    <div><%= album.year %></div>
    <div>Record Label: </div>
    <div><%= album.recordLabel %></div>
</section>

<section id="user-options">
    <% if (album.owner.equals(user?.profile._id)) { %>
    <form action="/albums/<%= album._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit Album</button>
    </form>
    <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete Album</button>
    </form>
  <% } %>
</section>

<section id="reviews">
  <% if (album.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Author</th>
          <th>Date</th>
          <th>Title</th>
          <th>Rating</th>
          <th>Favorite Track</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <% album.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.owner.name %></td>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.rTitle %></td>
            <td><%= review.rating %></td>
            <td><%= review.favTrack %></td>
            <td><%= review.content %></td>
            <% if (review.owner.equals(user?.profile._id)) { %>
            <td><form action="/albums/<%= album._id %>/reviews/<%= review._id %>/edit" method="GET">
              <button class="btn" type="submit">Edit</button>
            </form></td>
            <td><form action="/albums/<%= album._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="delete-review-btn" type="sumbit">X</button>
            </form></td>
          </tr>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>

  <section id="review-option">
    <button>
      <a href="/albums/<%= album._id %>/reviews">
        Add Review
      </a>
    </button>
</section>



</section>




<%- include('../partials/footer') %>