<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<section>
  
  <h1>"<%= album.title %>"</h1>
  <div>
    <a href="/albums/<%= album._id %>/edit">
      <button id="edit">Edit Details</button>
    </a>
  </div>
    <div>Artist: </div>
    <div><%= album.artist %></div>
    <div>Release Year: </div>
    <div><%= album.year %></div>
    <div>Record Label: </div>
    <div><%= album.recordLabel %></div>
    
    <form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
      <button class="delete-btn">Delete This Album</button>
    </form>
  </form>
  
</section>




<%- include('../partials/footer') %>